<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         version="3.1">

  <display-name>stumanage</display-name>

  <!-- servlet mappings (annotations used, but keep here for clarity) -->
  <servlet>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>servlets.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewStudentServlet</servlet-name>
    <servlet-class>servlets.ViewStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentServlet</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>servlets.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>servlets.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
